<a href="https://colab.research.google.com/github/mujahed85/PySpark/blob/main/01_Greeting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Linux Basic

In [ ]:
!cat /etc/os-release

PRETTY_NAME="Ubuntu 22.04.4 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.4 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [ ]:
!uname -a

Linux 0f971c837430 6.1.123+ #1 SMP PREEMPT_DYNAMIC Sun Mar 30 16:01:29 UTC 2025 x86_64 x86_64 x86_64 GNU/Linux

In [ ]:
!whoami

root

In [ ]:
!pwd

/content

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark =SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
# Create DataFrame
data = [("Hello", "World")]
columns = ["Word1", "Word2"]

df = spark.createDataFrame(data, columns)

## PySpark Basics of DataFrame

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
!pip show pyspark

Name: pyspark
Version: 3.5.1
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: /usr/local/lib/python3.11/dist-packages
Requires: py4j
Required-by: dataproc-spark-connect

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark =SparkSession.builder.appName("Basics").getOrCreate()

In [ ]:
# Create DataFrame
data = [("Hello", "World")]
columns = ["Word1", "Word2"]

df = spark.createDataFrame(data, columns)

In [ ]:
df.show()

+-----+-----+
|Word1|Word2|
+-----+-----+
|Hello|World|
+-----+-----+

## Basic Transformation and Actions

In [ ]:
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df = spark.createDataFrame(data, columns)

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Filter: Employees with salary > 3500
df_filtered = df.filter(df.Salary > 3500)
df_filtered.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| Jane|   Finance|  4000|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# GroupBy and Aggregate: Average salary by department
df_grouped = df.groupBy("Department").avg("Salary")
df_grouped.show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
# Add a new column: Salary with bonus (10%)
from pyspark.sql.functions import col
exp=col("Salary") * 1.1
df_with_bonus = df.withColumn("Salary_10%_Bonus", exp)
df_with_bonus.show()

+-----+----------+------+------------------+
| Name|Department|Salary|  Salary_10%_Bonus|
+-----+----------+------+------------------+
| John|     Sales|  3000|3300.0000000000005|
| Jane|   Finance|  4000|            4400.0|
| Mike|     Sales|  3500|3850.0000000000005|
|Alice|   Finance|  3800|            4180.0|
|  Bob|        IT|  4500|            4950.0|
+-----+----------+------+------------------+

In [ ]:
from pyspark.sql.functions import col,upper, lower, concat_ws,length,when

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Change Case Transformation
df_upper = df.withColumn("Name_Upper", upper(col("Name")))
df_lower = df.withColumn("Name_Lower", lower(col("Name")))
df_upper.show()
df_lower.show()

+-----+----------+------+----------+
| Name|Department|Salary|Name_Upper|
+-----+----------+------+----------+
| John|     Sales|  3000|      JOHN|
| Jane|   Finance|  4000|      JANE|
| Mike|     Sales|  3500|      MIKE|
|Alice|   Finance|  3800|     ALICE|
|  Bob|        IT|  4500|       BOB|
+-----+----------+------+----------+

+-----+----------+------+----------+
| Name|Department|Salary|Name_Lower|
+-----+----------+------+----------+
| John|     Sales|  3000|      john|
| Jane|   Finance|  4000|      jane|
| Mike|     Sales|  3500|      mike|
|Alice|   Finance|  3800|     alice|
|  Bob|        IT|  4500|       bob|
+-----+----------+------+----------+

In [ ]:
# Concatenate Columns
df_concat = df.withColumn("Full_Info", concat_ws(" - ", col("Name"), col("Department")))
df_concat.show()

+-----+----------+------+---------------+
| Name|Department|Salary|      Full_Info|
+-----+----------+------+---------------+
| John|     Sales|  3000|   John - Sales|
| Jane|   Finance|  4000| Jane - Finance|
| Mike|     Sales|  3500|   Mike - Sales|
|Alice|   Finance|  3800|Alice - Finance|
|  Bob|        IT|  4500|       Bob - IT|
+-----+----------+------+---------------+

In [ ]:
# String length of Names in New DF
df_length = df.withColumn("Name_Length", length(col("Name")))
df_length.show()

+-----+----------+------+-----------+
| Name|Department|Salary|Name_Length|
+-----+----------+------+-----------+
| John|     Sales|  3000|          4|
| Jane|   Finance|  4000|          4|
| Mike|     Sales|  3500|          4|
|Alice|   Finance|  3800|          5|
|  Bob|        IT|  4500|          3|
+-----+----------+------+-----------+

In [ ]:
# Conditional Column (Salary Category)
df_conditional = df.withColumn(
    "Salary_Category",
    when(col("Salary") >= 4000, "High")
    .when(col("Salary") >= 3500, "Medium")
    .otherwise("Low")
)
df_conditional.show()

+-----+----------+------+---------------+
| Name|Department|Salary|Salary_Category|
+-----+----------+------+---------------+
| John|     Sales|  3000|            Low|
| Jane|   Finance|  4000|           High|
| Mike|     Sales|  3500|         Medium|
|Alice|   Finance|  3800|         Medium|
|  Bob|        IT|  4500|           High|
+-----+----------+------+---------------+

In [ ]:
# Rename Column (Salary --> Base_Salary)
df_renamed = df.withColumnRenamed("Salary", "Base_Salary")
df_renamed.show()

NameError: name 'df' is not defined

## Advance Transformation and Action in PySpark

In [1]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Basics").getOrCreate()
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df = spark.createDataFrame(data, columns)

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [2]:
# Group by Department and count employees
df.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    2|
|   Finance|    2|
|        IT|    1|
+----------+-----+

In [5]:
# Group by Department and calculate average salary
df.groupBy("Department").avg("Salary").show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [9]:
# Group by Department and Caculate multiple Aggregations
from pyspark.sql import functions as F
df.groupBy("Department") \
  .agg(
      F.avg("Salary").alias("Average Salary"),
      F.max("Salary").alias("Max Salary"),
      F.min("Salary").alias("Min Salary")
  ).show()

+----------+--------------+----------+----------+
|Department|Average Salary|Max Salary|Min Salary|
+----------+--------------+----------+----------+
|     Sales|        3250.0|      3500|      3000|
|   Finance|        3900.0|      4000|      3800|
|        IT|        4500.0|      4500|      4500|
+----------+--------------+----------+----------+

In [10]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department", "Location"]

In [11]:
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [12]:
dept_df = spark.createDataFrame(dept_data, dept_columns)

# Join employee data with department info
joined_df = df.join(dept_df, on="Department", how="inner")
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [13]:
dept_df.show()

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
+----------+----------+

In [15]:
# Employee DataFrame
emp_data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "HR", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Sam", "Support", 3200)
]
emp_cols = ["EmpID", "Name", "Department", "Salary"]
emp_df = spark.createDataFrame(emp_data, emp_cols)

# Department DataFrame
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C"),
    ("Admin", "Building D")
]
dept_cols = ["Department", "Location"]
dept_df = spark.createDataFrame(dept_data, dept_cols)

# Display both
emp_df.show()
dept_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1| John|     Sales|  3000|
|    2| Jane|   Finance|  4000|
|    3| Mike|     Sales|  3500|
|    4|Alice|        HR|  3800|
|    5|  Bob|        IT|  4500|
|    6|  Sam|   Support|  3200|
+-----+-----+----------+------+

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
|     Admin|Building D|
+----------+----------+

In [16]:
# Perform Inner Join
emp_df.join(dept_df, on="Department", how="inner").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|   Finance|    2|Jane|  4000|Building B|
|        IT|    5| Bob|  4500|Building C|
|     Sales|    1|John|  3000|Building A|
|     Sales|    3|Mike|  3500|Building A|
+----------+-----+----+------+----------+

In [17]:
# Left Join (All Employees, Dept Info if Exists)
emp_df.join(dept_df, on="Department", how="left").show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

In [18]:
# Right Outer Join (All departments, emp info if exists)
emp_df.join(dept_df, on="Department", how="right").show()

+----------+-----+----+------+----------+
|Department|EmpID|Name|Salary|  Location|
+----------+-----+----+------+----------+
|     Sales|    3|Mike|  3500|Building A|
|     Sales|    1|John|  3000|Building A|
|   Finance|    2|Jane|  4000|Building B|
|     Admin| NULL|NULL|  NULL|Building D|
|        IT|    5| Bob|  4500|Building C|
+----------+-----+----+------+----------+

In [ ]:
# Full Outer Join (All records from both)
emp_df.join(dept_df, on="Department", how="full").show()